<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="description" content="The conference on leadership, management, and professional development in tech! This Sept. 27th in Toronto, Canada" />
  <meta name="keywords" content="Front-End Design Conference, Full Stack, Full Stack Toronto, FSTO, Web Conference, Design, Development, Business, Marketing, Toronto, Ontario, Canada, Front-End, Front End, Back-end, back end, devops, dev ops, product development, project management, web development conference, web design conference, ux conference, devops conference, product conference, exhibit hall, leadership, management, professional development, tech lead, team leader, development manager, dev manager">
  <meta name="Category" content="Conferences" />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="BIFROST Conf - Register Today!">
  <meta itemprop="description" content="The conference on leadership, management, and professional development in tech! This Sept. 27th in Toronto, Canada">
  <meta itemprop="image" content="/images/card.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fullstackto">
  <meta name="twitter:title" content="BIFROST Conf - Register Today!">
  <meta name="twitter:description" content="The conference on leadership, management, and professional development in tech! This Sept. 27th in Toronto, Canada">
  <meta name="twitter:creator" content="@fullstackto">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="images/card.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="BIFROST Conf - Register Today!" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://bifrostconf.ca" />
  <meta property="og:image" content="/images/card.jpg" />
  <meta property="og:description" content="The conference on leadership, management, and professional development in tech! This Sept. 27th in Toronto, Canada" />
  <meta property="og:site_name" content="BIFROST Conf - Register Today!" />


</head>
